<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    {{ partial "css" }}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"></button>
                <a class="navbar-brand" href="/">Gateway</a>
            </div>

            <div class="collapse navbar-collapse" id="member-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/member">Members</a></li>
                    <li><a href="/user">Users</a></li>
                    <li><a href="/internal">Internal</a></li>
                    <li><a href="/log">Log</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{ partial "body" }}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    {{ partial "js" }}
  </body>
</html>

